<h1><u><b>HEALTHCARE FRAUD DETECTION ANALYSIS<b><u></h1>

In [29]:
## Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Loading Datasets

In [30]:
##Datasets
provider_data=pd.read_csv('provider_fraud_detection_data.csv')
Beneficiary_data=pd.read_csv('Train_Beneficiarydata-1542865627584.csv')
Inpatient_data= pd.read_csv('Train_Inpatientdata-1542865627584.csv')
Outpatient_data=pd.read_csv('Train_Outpatientdata-1542865627584.csv')

-- <b>Data Preprocessing<b>
<ol>
<li>Check missing values</li>
<li>Duplicates</li>
<li>display total number of rows</li>
<ol>

In [31]:
#data_preprocessing function 
def data_preprocessing(data):
    # Check for missing values
    missing_values = data.isnull().sum().sum()
    print("Missing Values:")
    print(missing_values)
    print()

    # Check for duplicates
    duplicates = data.duplicated().sum()
    print("Number of Duplicates:", duplicates)
    print()

    # Display total number of rows
    num_rows = data.shape[0]
    print("Total Number of Rows:", num_rows)
    print()



    # Statistical summary
    print("Statistical Summary:")
    print(data.describe(include='all'))

<h2><u><b>Provider Data</b><u></h2>

In [32]:
provider_data

      Provider PotentialFraud
0     PRV51001             No
1     PRV51003            Yes
2     PRV51004             No
3     PRV51005            Yes
4     PRV51007             No
...        ...            ...
5405  PRV57759             No
5406  PRV57760             No
5407  PRV57761             No
5408  PRV57762             No
5409  PRV57763             No

[5410 rows x 2 columns]

In [33]:
data_preprocessing(provider_data)

Missing Values:
0

Number of Duplicates: 0

Total Number of Rows: 5410

Statistical Summary:
        Provider PotentialFraud
count       5410           5410
unique      5410              2
top     PRV51001             No
freq           1           4904

<h2><u><b>Out patient data<b></u><h2>

In [34]:
Outpatient_data

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,2163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,07041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,V570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,78900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [35]:
data_preprocessing(Outpatient_data)

Missing Values:
8093719

Number of Duplicates: 0

Total Number of Rows: 517737

Statistical Summary:
           BeneID    ClaimID ClaimStartDt  ClaimEndDt  Provider  \
count      517737     517737       517737      517737    517737
unique     133980     517737          385         366      5012
top     BENE42721  CLM624349   2009-03-03  2009-03-03  PRV51459
freq           29          1         1574        1563      8240
mean          NaN        NaN          NaN         NaN       NaN
std           NaN        NaN          NaN         NaN       NaN
min           NaN        NaN          NaN         NaN       NaN
25%           NaN        NaN          NaN         NaN       NaN
50%           NaN        NaN          NaN         NaN       NaN
75%           NaN        NaN          NaN         NaN       NaN
max           NaN        NaN          NaN         NaN       NaN

        InscClaimAmtReimbursed AttendingPhysician OperatingPhysician  \
count            517737.000000             516341              90617
unique                     NaN              74109              28532
top                        NaN          PHY330576          PHY330576
freq                       NaN               2534                424
mean                286.334799                NaN                NaN
std                 694.034343                NaN                NaN
min                   0.000000                NaN                NaN
25%                  40.000000                NaN                NaN
50%                  80.000000                NaN                NaN
75%                 200.000000                NaN                NaN
max              102500.000000                NaN                NaN

       OtherPhysician ClmDiagnosisCode_1  ... ClmDiagnosisCode_9  \
count          195046             507284  ...              14838
unique          44388              10354  ...               1894
top         PHY412132               4019  ...               4019
freq             1247              13803  ...                616
mean              NaN                NaN  ...                NaN
std               NaN                NaN  ...                NaN
min               NaN                NaN  ...                NaN
25%               NaN                NaN  ...                NaN
50%               NaN                NaN  ...                NaN
75%               NaN                NaN  ...                NaN
max               NaN                NaN  ...                NaN

       ClmDiagnosisCode_10 ClmProcedureCode_1 ClmProcedureCode_2  \
count                 1083         162.000000          36.000000
unique                 495                NaN                NaN
top                   4019                NaN                NaN
freq                    41                NaN                NaN
mean                   NaN        6116.611111        4503.277778
std                    NaN        3217.719258        2504.015000
min                    NaN          51.000000         412.000000
25%                    NaN        3893.000000        2724.000000
50%                    NaN        5244.500000        4019.000000
75%                    NaN        9421.500000        5849.000000
max                    NaN        9999.000000        9982.000000

       ClmProcedureCode_3 ClmProcedureCode_4 ClmProcedureCode_5  \
count            4.000000           2.000000                0.0
unique                NaN                NaN                NaN
top                   NaN                NaN                NaN
freq                  NaN                NaN                NaN
mean          2959.000000        4075.500000                NaN
std           1863.455393        5323.806956                NaN
min            412.000000         311.000000                NaN
25%           2146.000000        2193.250000                NaN
50%           3511.500000        4075.500000                NaN
75%           4324.500000        5957.750000                NaN
max           4401.000000        7840.000000                NaN

       ClmProcedureCode_6 DeductibleAmtPaid  ClmAdmitDiagnosisCode
count                 0.0     517737.000000                 105425
unique                NaN               NaN                   3715
top                   NaN               NaN                  V7612
freq                  NaN               NaN                   4074
mean                  NaN          2.779233                    NaN
std                   NaN         15.785839                    NaN
min                   NaN          0.000000                    NaN
25%                   NaN          0.000000                    NaN
50%                   NaN          0.000000                    NaN
75%                   NaN          0.000000                    NaN
max                   NaN        897.000000                    NaN

[11 rows x 27 columns]

In [36]:
Outpatient_data_info = pd.DataFrame(data=Outpatient_data.columns, columns=['Column Name'])
Outpatient_data_info['Data Type'] = Outpatient_data.dtypes.values
Outpatient_data_info['No. of Unique Values'] = Outpatient_data.nunique().values
Outpatient_data_info['Count of Missing Values'] = Outpatient_data.isna().sum().values
Outpatient_data_info['Percent of Missing Values'] = (round(Outpatient_data.isna().sum() / len(Outpatient_data) * 100)).values

In [37]:
Outpatient_data_info

,Column Name,Data Type,No. of Unique Values,Count of Missing Values,Percent of Missing Values
0,BeneID,object,133980,0,0.0
1,ClaimID,object,517737,0,0.0
2,ClaimStartDt,object,385,0,0.0
3,ClaimEndDt,object,366,0,0.0
4,Provider,object,5012,0,0.0
5,InscClaimAmtReimbursed,int64,342,0,0.0
6,AttendingPhysician,object,74109,1396,0.0
7,OperatingPhysician,object,28532,427120,82.0
8,OtherPhysician,object,44388,322691,62.0
9,ClmDiagnosisCode_1,object,10354,10453,2.0
10,ClmDiagnosisCode_2,object,5056,195380,38.0
11,ClmDiagnosisCode_3,object,4448,314480,61.0
12,ClmDiagnosisCode_4,object,3925,392141,76.0
13,ClmDiagnosisCode_5,object,3412,443393,86.0
14,ClmDiagnosisCode_6,object,2968,468981,91.0
15,ClmDiagnosisCode_7,object,2635,484776,94.0
16,ClmDiagnosisCode_8,object,2260,494825,96.0
17,ClmDiagnosisCode_9,object,1894,502899,97.0
18,ClmDiagnosisCode_10,object,495,516654,100.0
19,ClmProcedureCode_1,float64,80,517575,100.0
20,ClmProcedureCode_2,float64,22,517701,100.0
21,ClmProcedureCode_3,float64,4,517733,100.0
22,ClmProcedureCode_4,float64,2,517735,100.0
23,ClmProcedureCode_5,float64,0,517737,100.0
24,ClmProcedureCode_6,float64,0,517737,100.0
25,DeductibleAmtPaid,int64,16,0,0.0
26,ClmAdmitDiagnosisCode,object,3715,412312,80.0

''' check for relevant columns

<h2><u><b>In Patient data<b></u></h2>

In [38]:
Inpatient_data

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40469,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,PHY345332,PHY319565,NaN,2009-09-28,...,79092,70704,2869,4148,9904.0,NaN,NaN,NaN,NaN,NaN
40470,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,PHY342806,PHY365497,NaN,2009-11-03,...,49122,4254,5990,NaN,8605.0,NaN,NaN,NaN,NaN,NaN
40471,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,PHY423220,PHY332752,NaN,2009-11-18,...,71534,71590,V4502,NaN,9390.0,NaN,NaN,NaN,NaN,NaN
40472,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,PHY353156,NaN,NaN,2009-12-17,...,4263,0414,41400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40473,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,PHY431177,PHY352941,NaN,2009-09-28,...,4019,2800,27801,NaN,1733.0,NaN,NaN,NaN,NaN,NaN

In [40]:
data_preprocessing(Inpatient_data)

Missing Values:
344003

Number of Duplicates: 0

Total Number of Rows: 40474

Statistical Summary:
            BeneID   ClaimID ClaimStartDt  ClaimEndDt  Provider  \
count        40474     40474        40474       40474     40474
unique       31289     40474          398         365      2092
top     BENE134170  CLM46614   2009-02-10  2009-02-11  PRV52019
freq             8         1          145         153       516
mean           NaN       NaN          NaN         NaN       NaN
std            NaN       NaN          NaN         NaN       NaN
min            NaN       NaN          NaN         NaN       NaN
25%            NaN       NaN          NaN         NaN       NaN
50%            NaN       NaN          NaN         NaN       NaN
75%            NaN       NaN          NaN         NaN       NaN
max            NaN       NaN          NaN         NaN       NaN

        InscClaimAmtReimbursed AttendingPhysician OperatingPhysician  \
count             40474.000000              40362              23830
unique                     NaN              11604               8287
top                        NaN          PHY422134          PHY429430
freq                       NaN                386                225
mean              10087.884074                NaN                NaN
std               10303.099402                NaN                NaN
min                   0.000000                NaN                NaN
25%                4000.000000                NaN                NaN
50%                7000.000000                NaN                NaN
75%               12000.000000                NaN                NaN
max              125000.000000                NaN                NaN

       OtherPhysician AdmissionDt  ... ClmDiagnosisCode_7  ClmDiagnosisCode_8  \
count            4690       40474  ...              33216               30532
unique           2877         398  ...               2310                2243
top         PHY416093  2009-02-10  ...               4019                4019
freq               81         144  ...               1402                1200
mean              NaN         NaN  ...                NaN                 NaN
std               NaN         NaN  ...                NaN                 NaN
min               NaN         NaN  ...                NaN                 NaN
25%               NaN         NaN  ...                NaN                 NaN
50%               NaN         NaN  ...                NaN                 NaN
75%               NaN         NaN  ...                NaN                 NaN
max               NaN         NaN  ...                NaN                 NaN

       ClmDiagnosisCode_9 ClmDiagnosisCode_10 ClmProcedureCode_1  \
count               26977                3927       23148.000000
unique               2094                 952                NaN
top                  4019                4019                NaN
freq                  965                 128                NaN
mean                  NaN                 NaN        5894.611759
std                   NaN                 NaN        3049.304400
min                   NaN                 NaN          11.000000
25%                   NaN                 NaN        3848.000000
50%                   NaN                 NaN        5369.000000
75%                   NaN                 NaN        8666.250000
max                   NaN                 NaN        9999.000000

       ClmProcedureCode_2 ClmProcedureCode_3 ClmProcedureCode_4  \
count         5454.000000         965.000000         116.000000
unique                NaN                NaN                NaN
top                   NaN                NaN                NaN
freq                  NaN                NaN                NaN
mean          4103.738174        4226.355440        4070.172414
std           2028.182156        2282.761581        1994.409802
min             42.000000          42.000000          42.000000
25%           2724.000000        2724.000000        2758.750000
50%           4019.000000        4019.000000        4019.000000
75%           4439.000000        5185.000000        4439.000000
max           9999.000000        9999.000000        9986.000000

       ClmProcedureCode_5 ClmProcedureCode_6
count            9.000000                0.0
unique                NaN                NaN
top                   NaN                NaN
freq                  NaN                NaN
mean          5269.444444                NaN
std           2780.071632                NaN
min           2724.000000                NaN
25%           4139.000000                NaN
50%           4139.000000                NaN
75%           5185.000000                NaN
max           9982.000000                NaN

[11 rows x 30 columns]

In [52]:
Inpatient_data_info = pd.DataFrame(data=Inpatient_data.columns, columns=['Column Name'])
Inpatient_data_info['Data Type'] = Inpatient_data.dtypes.values
Inpatient_data_info['No. of Unique Values'] = Inpatient_data.nunique().values
Inpatient_data_info['Count of Missing Values'] = Inpatient_data.isna().sum().values
Inpatient_data_info['Percent of Missing Values'] = (round(Inpatient_data.isna().sum() / len(Inpatient_data) * 100)).values

In [53]:
Inpatient_data_info

,Column Name,Data Type,No. of Unique Values,Count of Missing Values,Percent of Missing Values
0,BeneID,object,31289,0,0.0
1,ClaimID,object,40474,0,0.0
2,ClaimStartDt,object,398,0,0.0
3,ClaimEndDt,object,365,0,0.0
4,Provider,object,2092,0,0.0
5,InscClaimAmtReimbursed,int64,146,0,0.0
6,AttendingPhysician,object,11604,112,0.0
7,OperatingPhysician,object,8287,16644,41.0
8,OtherPhysician,object,2877,35784,88.0
9,AdmissionDt,object,398,0,0.0
10,ClmAdmitDiagnosisCode,object,1928,0,0.0
11,DeductibleAmtPaid,float64,1,899,2.0
12,DischargeDt,object,365,0,0.0
13,DiagnosisGroupCode,object,736,0,0.0
14,ClmDiagnosisCode_1,object,2254,0,0.0
15,ClmDiagnosisCode_2,object,2439,226,1.0
16,ClmDiagnosisCode_3,object,2427,676,2.0
17,ClmDiagnosisCode_4,object,2441,1534,4.0
18,ClmDiagnosisCode_5,object,2374,2894,7.0
19,ClmDiagnosisCode_6,object,2358,4838,12.0
20,ClmDiagnosisCode_7,object,2310,7258,18.0
21,ClmDiagnosisCode_8,object,2243,9942,25.0
22,ClmDiagnosisCode_9,object,2094,13497,33.0
23,ClmDiagnosisCode_10,object,952,36547,90.0
24,ClmProcedureCode_1,float64,1117,17326,43.0
25,ClmProcedureCode_2,float64,297,35020,87.0
26,ClmProcedureCode_3,float64,154,39509,98.0
27,ClmProcedureCode_4,float64,48,40358,100.0
28,ClmProcedureCode_5,float64,6,40465,100.0
29,ClmProcedureCode_6,float64,0,40474,100.0

<h2><u><b>Beneficiary Data<b><u></h2>

In [39]:
Beneficiary_data

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138551,BENE159194,1939-07-01,NaN,1,1,0,39,140,12,12,...,2,2,2,2,2,2,0,0,430,460
138552,BENE159195,1938-12-01,NaN,2,1,0,49,530,12,12,...,2,1,2,2,2,2,0,0,880,100
138553,BENE159196,1916-06-01,NaN,2,1,0,6,150,12,12,...,1,1,1,2,2,2,2000,1068,3240,1390
138554,BENE159197,1930-01-01,NaN,1,1,0,16,560,12,12,...,2,2,1,2,2,2,0,0,2650,10
138555,BENE159198,1952-04-01,NaN,2,1,0,21,20,12,12,...,1,1,2,2,1,2,0,0,5470,1870

In [54]:
data_preprocessing(Beneficiary_data)

Missing Values:
137135

Number of Duplicates: 0

Total Number of Rows: 138556

Statistical Summary:
           BeneID         DOB         DOD         Gender           Race  \
count      138556      138556        1421  138556.000000  138556.000000
unique     138556         900          11            NaN            NaN
top     BENE11001  1939-10-01  2009-12-01            NaN            NaN
freq            1         540         182            NaN            NaN
mean          NaN         NaN         NaN       1.570932       1.254511
std           NaN         NaN         NaN       0.494945       0.717007
min           NaN         NaN         NaN       1.000000       1.000000
25%           NaN         NaN         NaN       1.000000       1.000000
50%           NaN         NaN         NaN       2.000000       1.000000
75%           NaN         NaN         NaN       2.000000       1.000000
max           NaN         NaN         NaN       2.000000       5.000000

       RenalDiseaseIndicator          State         County  \
count                 138556  138556.000000  138556.000000
unique                     2            NaN            NaN
top                        0            NaN            NaN
freq                  118978            NaN            NaN
mean                     NaN      25.666734     374.424745
std                      NaN      15.223443     266.277581
min                      NaN       1.000000       0.000000
25%                      NaN      11.000000     141.000000
50%                      NaN      25.000000     340.000000
75%                      NaN      39.000000     570.000000
max                      NaN      54.000000     999.000000

        NoOfMonths_PartACov  NoOfMonths_PartBCov  ...  ChronicCond_Depression  \
count         138556.000000        138556.000000  ...           138556.000000
unique                  NaN                  NaN  ...                     NaN
top                     NaN                  NaN  ...                     NaN
freq                    NaN                  NaN  ...                     NaN
mean              11.907727            11.910145  ...                1.644476
std                1.032332             0.936893  ...                0.478674
min                0.000000             0.000000  ...                1.000000
25%               12.000000            12.000000  ...                1.000000
50%               12.000000            12.000000  ...                2.000000
75%               12.000000            12.000000  ...                2.000000
max               12.000000            12.000000  ...                2.000000

        ChronicCond_Diabetes  ChronicCond_IschemicHeart  \
count          138556.000000              138556.000000
unique                   NaN                        NaN
top                      NaN                        NaN
freq                     NaN                        NaN
mean                1.398142                   1.324143
std                 0.489517                   0.468056
min                 1.000000                   1.000000
25%                 1.000000                   1.000000
50%                 1.000000                   1.000000
75%                 2.000000                   2.000000
max                 2.000000                   2.000000

        ChronicCond_Osteoporasis  ChronicCond_rheumatoidarthritis  \
count              138556.000000                    138556.000000
unique                       NaN                              NaN
top                          NaN                              NaN
freq                         NaN                              NaN
mean                    1.725317                         1.743180
std                     0.446356                         0.436881
min                     1.000000                         1.000000
25%                     1.000000                         1.000000
50%                     2.000000                         2.000000
75%                     2.000000                         2.000000
max                     2.000000                         2.000000

        ChronicCond_stroke  IPAnnualReimbursementAmt  IPAnnualDeductibleAmt  \
count        138556.000000             138556.000000          138556.000000
unique                 NaN                       NaN                    NaN
top                    NaN                       NaN                    NaN
freq                   NaN                       NaN                    NaN
mean              1.920942               3660.346502             399.847296
std               0.269831               9568.621827             956.175202
min               1.000000              -8000.000000               0.000000
25%               2.000000                  0.000000               0.000000
50%               2.000000                  0.000000               0.000000
75%               2.000000               2280.000000            1068.000000
max               2.000000             161470.000000           38272.000000

        OPAnnualReimbursementAmt  OPAnnualDeductibleAmt
count              138556.000000          138556.000000
unique                       NaN                    NaN
top                          NaN                    NaN
freq                         NaN                    NaN
mean                 1298.219348             377.718258
std                  2493.901134             645.530187
min                   -70.000000               0.000000
25%                   170.000000              40.000000
50%                   570.000000             170.000000
75%                  1500.000000             460.000000
max                102960.000000           13840.000000

[11 rows x 25 columns]

In [55]:
Beneficiary_data_info = pd.DataFrame(data=Beneficiary_data.columns, columns=['Column Name'])
Beneficiary_data_info['Data Type'] = Beneficiary_data.dtypes.values
Beneficiary_data_info['No. of Unique Values'] = Beneficiary_data.nunique().values
Beneficiary_data_info['Count of Missing Values'] = Beneficiary_data.isna().sum().values
Beneficiary_data_info['Percent of Missing Values'] = (round(Beneficiary_data.isna().sum() / len(Beneficiary_data) * 100)).values

In [56]:
Beneficiary_data_info

,Column Name,Data Type,No. of Unique Values,Count of Missing Values,Percent of Missing Values
0,BeneID,object,138556,0,0.0
1,DOB,object,900,0,0.0
2,DOD,object,11,137135,99.0
3,Gender,int64,2,0,0.0
4,Race,int64,4,0,0.0
5,RenalDiseaseIndicator,object,2,0,0.0
6,State,int64,52,0,0.0
7,County,int64,314,0,0.0
8,NoOfMonths_PartACov,int64,13,0,0.0
9,NoOfMonths_PartBCov,int64,13,0,0.0
10,ChronicCond_Alzheimer,int64,2,0,0.0
11,ChronicCond_Heartfailure,int64,2,0,0.0
12,ChronicCond_KidneyDisease,int64,2,0,0.0
13,ChronicCond_Cancer,int64,2,0,0.0
14,ChronicCond_ObstrPulmonary,int64,2,0,0.0
15,ChronicCond_Depression,int64,2,0,0.0
16,ChronicCond_Diabetes,int64,2,0,0.0
17,ChronicCond_IschemicHeart,int64,2,0,0.0
18,ChronicCond_Osteoporasis,int64,2,0,0.0
19,ChronicCond_rheumatoidarthritis,int64,2,0,0.0
20,ChronicCond_stroke,int64,2,0,0.0
21,IPAnnualReimbursementAmt,int64,3004,0,0.0
22,IPAnnualDeductibleAmt,int64,147,0,0.0
23,OPAnnualReimbursementAmt,int64,2078,0,0.0
24,OPAnnualDeductibleAmt,int64,789,0,0.0

<p>Checking for common columns in outpatients and inpatient dataset

In [57]:
col_outpatient=[]
for o in Outpatient_data.columns:
    if o in Inpatient_data.columns:
        col_outpatient.append(o)

#Checking each of the columns in the Inpatient dataset if they are present in the Outpatient dataset
col_inpatient=[]
for i in Inpatient_data.columns:
    if i in Outpatient_data.columns:
        col_inpatient.append(i)
print("Cols of Outpatient dataset also present in Inpatient dataset",len(col_outpatient))
print("Cols of Inpatient dataset also present in Outpatient dataset",len(col_inpatient))

#Checking for common column names in the outpatient and the inpatient datasets 
c_s= set(col_outpatient).intersection(set(col_inpatient))
c_s= list(c_s)
print("Common columns between the outpatient and the inpatient datasets",len(c_s))

Cols of Outpatient dataset also present in Inpatient dataset 27
Cols of Inpatient dataset also present in Outpatient dataset 27
Common columns between the outpatient and the inpatient datasets 27

In [58]:
c_s

['ClmProcedureCode_2',
 'ClmProcedureCode_5',
 'ClaimEndDt',
 'ClmDiagnosisCode_10',
 'ClaimID',
 'ClmDiagnosisCode_6',
 'DeductibleAmtPaid',
 'OtherPhysician',
 'ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmProcedureCode_1',
 'ClaimStartDt',
 'BeneID',
 'ClmProcedureCode_4',
 'AttendingPhysician',
 'Provider',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_7',
 'ClmProcedureCode_3',
 'ClmProcedureCode_6',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmAdmitDiagnosisCode',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_8',
 'OperatingPhysician',
 'InscClaimAmtReimbursed']

In [59]:
Allpatientdata=pd.merge(Outpatient_data,Inpatient_data,
                              left_on=['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
                              right_on=['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode']
                              ,how='outer')

In [60]:
Allpatientdata

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,AdmissionDt,DischargeDt,DiagnosisGroupCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,0.0,56409,NaN,NaN,NaN
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,0.0,79380,NaN,NaN,NaN
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,0.0,71947,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558206,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,PHY345332,PHY319565,NaN,2851,...,NaN,NaN,NaN,NaN,NaN,1068.0,2859,2009-09-28,2009-10-02,812
558207,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,PHY342806,PHY365497,NaN,42823,...,NaN,NaN,NaN,NaN,NaN,1068.0,79902,2009-11-03,2009-11-06,228
558208,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,PHY423220,PHY332752,NaN,4280,...,NaN,NaN,NaN,NaN,NaN,1068.0,78605,2009-11-18,2009-11-22,302
558209,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,PHY353156,NaN,NaN,7802,...,NaN,NaN,NaN,NaN,NaN,1068.0,7802,2009-12-17,2009-12-18,309
558210,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,PHY431177,PHY352941,NaN,1540,...,NaN,NaN,NaN,NaN,NaN,1068.0,1536,2009-09-28,2009-10-06,340